@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  /* background-color: rgb(117, 47, 58); */
  margin: 0px;
  padding: 0px;
  /* font-family: font-family: 'Poppins', sans-serif; */
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px;
  background-color: black;
}
